form {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  background-color: #f8f9fa;
}

input::placeholder {
  color: #999;
  font-style: italic;
}

h4 {
  font-weight: 600;
}

button {
  font-weight: 600;
}
